body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,label,span {
   font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(196, 183, 0);
}
p {
  color: rgb(0, 0, 0);
  text-indent: 30px;
  text-transform: uppercase;
  
}
#abtid{
  background-color: rgb(255, 255, 255);

}




